<template>
  <button v-bind:disabled="disabled" @click="clickHandler">
    {{ text }}
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    text: String,
    clickHandler: Function,
    disabled: Boolean
  }
}
</script>

<style scoped>
  button {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    padding: 0 44px;
    border: none;
    background: #1B63DC;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .025em;
    color: #fff;
    text-decoration: none;
    transition: all .3s ease;
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
    background: rgba(27, 98, 220, 0.32);
  }

  button:not(:disabled):hover {
    box-shadow: 0 7px 14px rgba(27, 98, 221, 0.15), 0 3px 6px rgba(27, 98, 221, 0.15);
  }
  
  button:focus {
    outline:none;
  }
  
</style>
