<template>
  <div class="card-container">
    <h3 class="heading">{{ heading }}</h3>
    <p class="sub-text">{{ subText }}</p>
    <slot></slot>
  </div>
</template>


<script>

export default {
  name: 'Card',
  props: {
    heading: String,
    subText: String
  }
}
</script>

<style scoped>
  .card-container {
    max-width: 390px;
    background: white;
    padding: 34px 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .05);
    overflow-y: scroll;
    border-radius: 3px;
    max-height: 90%;
  }

  .heading {
    font-size: 1.6rem;
    color: #28354F;
  }

  .sub-text {
    margin-top: 0.5rem;
    width: 90%;
  }
</style>
