<template>
  <div class="field-container" v-bind:class="{ focused: focused, outlined: outlined, [type]: true }"
    >

    <template v-if="type === 'text'">
      <label :for="name">{{ label }} <span v-if="errorLabel" class="error-label float-right"> {{ errorLabel }}</span></label>
      <input 
        v-on:focus="focused = true" 
        v-on:blur="focused = false"
        :type="type" 
        :name="name" 
        v-on:change="$emit('change', $event.target.value)"/>
    </template> 

    <template v-if="type === 'multiselect'">
      <label :for="name">{{ label }} <span v-if="errorLabel" class="error-label float-right">{{ errorLabel }}</span></label>
      <div class="multiselect-options-container">

        <tree-list 
          name="root" 
          v-bind:children="options" 
          v-bind:depth="0"
          v-bind:selected="selected"
          v-bind:changeSelection="changeSelection"
        ></tree-list>
      </div>
    </template>

    <template v-if="type === 'checkbox'">
      <input 
        :id="this._uid"
        class="inline"
        :type="type" 
        :name="name" 
        :checked="false"
        v-on:change="$emit('change', $event.target.checked)"/>
      <label :for="this._uid" class="inline">{{ label }}</label>
      <span v-if="errorLabel" class="error-label block">{{ errorLabel }}</span>
    </template>
  </div>
</template>


<script>
import TreeList from './TreeList.vue'

export default {
  name: 'MultiSelect',
  data() {
    return {
      focused: false 
    }
  },
  components: {
    TreeList
  },
  model: {
    prop: 'checked',
    event: 'change'
  },
  props: {
    type: String,
    name: String,
    label: String,
    errorLabel: String,
    options: Array,
    selected: Array,
    changeSelection: Function,
    outlined: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style scoped>
  .field-container {
    overflow: hidden;
  }

  .field-container.outlined {
    border: 1px solid #DDDDDD;
    border-radius: 3px;
  }

  .field-container.focused {
    background-color: #FAFCFE;
    border-color: #83A3DA;
  }

  .field-container {
    margin-top: 25px;
  }

  label {
    margin: 7px 15px 0;
  }

  label:not(.inline) {
    display: block;
  }

  .error-label {
    color: #ff312ae3;
    font-size: 1rem;
  }

  .error-label.block {
    display: block;
    margin-top: 5px;
  }

  .error-label.float-right {
    float: right;
  }

  input {
    margin: 0 15px 7px;
    border: none;
    padding: 0;
    font-weight: 900;
    color: #28354F;
    background-color: inherit;
  }

  input:not(.inline) {
    width: 100%;
  }

  input:focus {
    outline: none;
  }

  .multiselect-options-container {
    border-top: 1px solid #DDDDDD;
    max-height: 225px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 7px;
    padding: 5px 14px;
  }

</style>
