<template>
  <div class="container">
    <img src="../assets/loader.png" />
  </div>
</template>


<script>

// TODO: Use svg instead of png

export default {
  name: 'LoadingIndicator',
}
</script>

<style scoped>
  .container {
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 50px;
    animation-name: rotate; 
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }


  @keyframes rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
</style>
