<template>
  <div class="container">
    <Field type="text" 
      name="name" 
      label="Name" 
      v-model="formData.name" 
      :error-label="formErrors.name || ''"
      />

    <Field v-if="allSectors" 
      type="multiselect" 
      name="sectors" 
      label="Sectors" 
      :error-label="formErrors.sectors || ''"
      v-bind:selected="formData.sectors" 
      v-bind:options="allSectors"
      v-bind:changeSelection="changeSectorsSelection"
      />
    
    <LoadingIndicator v-if="isLoading && !allSectors"  />
    <div class="fetch-error-message" v-if="!isLoading && fetchError">😔 Unfortunately there was a problem fetching the sectors list. Please refresh the page and try again. </div>

    <div class="submission-container">
      <Field type="checkbox" 
        name="agreed" 
        label="I agree to terms" 
        v-bind:outlined="false"
        v-model="formData.agreed"
        :error-label="formErrors.agreed || ''"
        />
      <Button class="submit-button" :disabled="fetchError" :text="submitted ? 'Update details' : 'Register'" v-bind:clickHandler="submit"/>
      <p v-if="submitted" class="success-message">Success! 😏</p>
    </div>
  </div>
</template>


<script>
import Field from './Field.vue'
import Button from './Button.vue'
import LoadingIndicator from './LoadingIndicator.vue'
import axios from 'axios'
import { nest } from  '../util'
import Vue from 'vue'

export default {
  name: 'RegisterForm',
  props: {
    msg: String
  },
  components: {
    Field,
    Button,
    LoadingIndicator
  },
  data () {
    return {
      formData: {
        name: "",
        sectors: [],
        agreed: false
      },
      formErrors: {},
      fetchError: false, // TODO: create a better and reusable strategy for fetchErrors
      submitted: false,
      allSectors: null,
      isLoading: false
    }
  },
  methods: {
    submit () {
      if (!this.checkForm()) return;
      axios
      .post(`${process.env.VUE_APP_API_URL}/registrations`, this.formData)
      .then(response => { 
        this.submitted = true;
        Vue.set(this.formData, "sectors", response.data.result.sectors);
        Vue.set(this.formData, "sectors", response.data.result.sectors);
        Vue.set(this.formData, "name", response.data.result.name);
        Vue.set(this.formData, "agreed", response.data.result.agreed);
        })
      .catch(err => {
        console.error(err)
      })
    },
    changeSectorsSelection ([isChecked, sectorId]) {
      if (isChecked) {
        this.formData.sectors.push(sectorId)
      } else {
        this.formData.sectors.splice(this.formData.sectors.indexOf(sectorId), 1)
      }
    },
    checkForm () {
      const nameLengthPassed = this.formData.name.length >= 2;
      const sectorsPassed = this.formData.sectors.length > 0;
      const termsAgreed = this.formData.agreed;

      this.formErrors = {};

      if (nameLengthPassed && sectorsPassed && termsAgreed) {
        return true;
      }
      this.submitted = false;


      if (!nameLengthPassed) {
        this.formErrors.name = 'Please insert at least 2 characters.';
      }
      if (!sectorsPassed) {
        this.formErrors.sectors = 'Please select at least one sector.';
      }
      if (!termsAgreed) {
        this.formErrors.agreed = 'You must agree with the terms in order to continue.';
      }
      
      return false
    }
  },
  mounted () {
    this.isLoading = true;
    this.fetchError = false;

    axios
      .get(`${process.env.VUE_APP_API_URL}/sectors`)
      .then(response => { 
        this.isLoading = false;
        if (response.data.status.includes("error")) {
          this.fetchError = true;
        } else {
          this.allSectors = nest(response.data.result)
        }
        })
      .catch(err => {
        this.fetchError = true;
        console.log(err)
        this.isLoading = false;
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .submission-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .submit-button {
    margin-top: 17px;
  }

  .success-message {
    margin-top: 15px;
    color: #3bb108;
  }

  .fetch-error-message {
    text-align: center;
    padding: 20px 0;
  }
</style>
