<template>
  <div class="tree-list">
    <div :style="indent">
      <div class="item">
        <input v-if="!children" :id="id" 
          type="checkbox"
          class="checkbox"
          v-bind:checked="selected.includes(id)"
          v-on:change="changeSelection([$event.target.checked, id])"
          />
        <label v-bind:class="{ parent: !!children }" v-if="id" :for="id" class="label">{{ name }}</label>
        <tree-list 
          v-for="node in children" 
          :id="node.id"
          :children="node.children" 
          :name="node.name"
          :depth="depth + 1"
          v-bind:key="node.id"
          v-bind:selected="selected"
          v-bind:changeSelection="changeSelection"
        >
        </tree-list>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: 'tree-list',
  props: {
    id: Number,
    name: String,
    children: Array,
    depth: Number,
    selected: Array,
    changeSelection: Function
  },
  computed: {
    indent() {
      if (this.depth < 2) {
        return {}
      } else {
        return { transform: `translate(${15}px)` }
      }
    }
  }
}
</script>

<style scoped>
  .item {
    margin: 7px 0;
    cursor: pointer;
  }

  .checkbox {
    margin-right: 10px;
  }

  .label {
    transform: translate(10px, 0);
    cursor: inherit;
  }

  .label.parent {
    font-weight: 600;
    cursor: auto;
  }
</style>
