<template>
  <div id="app">
    <div class="registration-form-container">
      <div class="footer-message">Built by Mihkel for Artify ;)</div>
      <Card heading="Register" sub-text="Please enter your name and pick the Sectors you are currently involved in. You can update the details at any time.">
        <RegisterForm />
      </Card>
    </div>
  </div>
</template>

<script>
import RegisterForm from './components/RegisterForm.vue'
import Card from './components/Card.vue'
import './assets/reset.css';
import './assets/global.css';

export default {
  name: 'App',
  components: {
    RegisterForm,
    Card
  }
}
</script>

<style scoped>
  #app {
    background-color: #F4F4F4;
    width: 100%;
    min-height: 100%;
    height: 100%;
    position: absolute;
  }

  .registration-form-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .footer-message {
    color: #CBCBCB;
    font-size: 0.8rem;
    margin-top: 16px;
  }
</style>
